.checkout {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .receipt {
        font-family: 'Galdeano', serif;
        margin: 2rem;
        min-width: 500px;
        display: flex;
        flex-direction: column;
        font-size: larger;
        gap: 1rem;
        padding: 2rem;
        background-color: #fff8e7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h1{
            align-self: center;
        }

        h2 {
            font-family: 'Italiana', serif;
            align-self: center;
        }

        h4 {
            align-self: center;
        }
        .items {
            .items-header {
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                padding: 0.5rem 0;
                border-bottom: 1px solid #eaeaea;

            }
            .item {
                display: flex;
                justify-content: space-between;
                padding: 0.5rem 0;
                border-bottom: 1px solid #eaeaea;

                p{
            
                    max-width: 4rem;

                }
            }
        }

        .total {
            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            align-items: flex-end;
    
        }

        button {
            flex-grow: 1;
            background-color: #FFF6A9;
            border: black 1px solid;
            padding: 1rem;
            font-size: 2rem;
            color: rgb(0, 0, 0);
            cursor: pointer;
            font-family: 'Italiana', serif;
            font-weight: bold;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #edd586;
        }
    }
}

@media (max-width: 500px) {
    .checkout {
        .receipt {
            width: 100%;
            min-width: 0;
            margin:0;
            padding: 0.6em;
            font-size: large;
            gap: 0.5rem;
            h2 {
                font-size: 1.5rem;
            }
            h4 {
                font-size: 1.2rem;
            }
            button
            {
                margin: 2rem;
            }
            .total{
                margin:2rem;
            }
        }
    }
}