html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
}

.home {
    position: relative;
    flex: 1;
    padding: 0;
    background-color: #FFFBD6;
    margin-top: 10px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 25px 30px 25px;
    flex-wrap: wrap;
}

.home h1 {
    font-family: 'Italiana', serif;
    font-size: 98px;
    color: #020202;
    text-align: left;
    line-height: 1.3;
    flex: 1 1 40%;
}

.hero {
    border: 2px solid black;
    padding: 40px 40px;
    text-align: center;
    flex: 1 1 30%;
    box-sizing: border-box;
    margin: 0 45px auto;
}

.hero p {
    font-size: 24px;
    margin: 10px;
    color: #000;
    font-family: 'Galdeano', serif;
}

.menu-section {
    position: relative;
    width: 100%;
    height: 100vh; 
}

.image-container {
    background-image: url('https://images-ext-1.discordapp.net/external/VXshl_X6vns-YQffvfxtp4ej39GPvY9AeeHBc2YHUHw/https/storage.googleapis.com/gen-atmedia/3/2019/01/df3b953314d7ee138caaa14b73548a407652fc71.jpeg?format=webp&width=744&height=930');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.menu-button {
    background-color: #FFF6A9;
    border: black 1px solid;
    padding: 25px 100px;
    font-size: 5rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: 'Italiana', serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #edd586;
}


@media (max-width: 750px) {
    .intro {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px;
    }

    .home h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .hero {
        margin: 0;
        width: 90%;
        padding: 20px;
    }

    .hero p {
        font-size: 1rem;
    }

    .menu-button {
        font-size: 1.8rem;
        padding: 10px 35px;
    }
}

@media (max-width: 320px) {
    .home h1 {
        font-size: 1.3rem;
    }

    .hero {
        margin: 0;
        width: 90%;
        padding: 10px;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .menu-button {
        font-size: 1.5rem;
        width: 180px;
    }

    .menu-section {
        height: 40vh;
        width: 100%;
        margin: 0;
    }

    .image-container {
        height: 100%;
        background-size: cover;
        margin-top: 10px;
        background-position: center;
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .home {
        flex: 1;
    }

    footer {
        margin-top: auto;
    }
}


