/* Header.css */
.header {
    background-color: #6F9E6A;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h1 {
    color: rgb(0, 0, 0);
    font-size: 48px;
    margin: 0;
    font-family: 'Italiana', serif;
}

.garlic-icon {
    width: 50px;
    height: auto;
    transform: rotate(-15deg);
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

.cart-icon {
    width: 40px;
    height: auto;
    margin-left: 0px;
}



/* siffra antal rätter */
.cart-link {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #FFF6A9;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 15px;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
  }

  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

  

/* 320px */
@media (max-width: 320px) {
    .header {
        padding: 10px;  
        flex-direction: row;  
        align-items: center; 
    }

    .header-left {
        display: flex;
        align-items: left;
        margin: 0;
    }

    .header-left h1 {
        font-size: 23px; 
    }

    .garlic-icon {
        width: 30px; 
        margin: 0; 
    }

    .cart-icon {
        width: 35px;
        margin: 0;  
    }
}

/*750px */
@media (max-width: 750px) {
    .header {
        padding: 15px;  
    }

    .header-left h1 {
        font-size: 36px; 
    }

    .garlic-icon {
        width: 45px;  
    }

    .cart-icon {
        width: 38px; 
    } 
}

/*1100px */
@media (max-width: 1100px) {
    .header {
        padding: 20px; 
    }

    .header-left h1 {
        font-size: 42px;  
    }

    .garlic-icon {
        width: 50px;  
    }

    .cart-icon {
        width: 40px; 
    }
}



